@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee-logos {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes highlight-line-pulse {

    0%,
    100% {
        box-shadow: 0 0 2px 0px currentColor;
    }

    50% {
        box-shadow: 0 0 8px 1px currentColor;
    }
}

@layer utilities {
    .kinetic-line {
        position: absolute;
        width: 1.5px;
        height: 100%;
        background: #C61F25;
        transform-origin: top;
    }
}

@keyframes kinetic-flow {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }

    50% {
        transform: scaleY(1);
        transform-origin: top;
    }

    51% {
        transform: scaleY(1);
        transform-origin: bottom;
    }

    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}

/* INFINITE MARQUEE ANIMATION */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll-now {
    animation: scroll-left 40s linear infinite;
}

.animate-scroll-now:hover {
    animation-play-state: paused;
}